<div class="modal-header ">
  <h4 class="modal-title pull-left">Vote Calendar</h4>

  <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container">
    <div [hidden]="">
      <div id='calendar' class="app-calendar" *ngIf="calendarOptions.properties.calendarVisible">
        <full-calendar #calendar defaultView="dayGridMonth" [header]="{
    left: 'prev,next today',
    center: 'title',
    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
  }" [plugins]="calendarOptions.properties.calendarPlugins" [firstDay]="calendarOptions.properties.firstDay"
          [weekends]="calendarOptions.properties.calendarWeekends" [events]="calendarEvents"
          [validRange]="calendarOptions.properties.validRange" [selectable]="calendarOptions.properties.selectable"
          (dateClick)="handleDateClick($event)" (select)="handleSelect($event)">
        </full-calendar>
      </div>



      <br>
      <br>
      <div class="row userClass">
        <div class="col-md-10 ">
          <table>
            <thead>
              <td></td>
              <td>
                <h5>Vote choice</h5>
              </td>
            </thead>
            <br>
            <tbody>
              <tr *ngFor="let choice of choices">
                <td>
                  <input type="radio" name="radiogroup" [value]="choice.id" (change)="onSelectionChange(choice)">
                </td>
                <td>{{ choice.text }}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-right">
            <button type="button" class="btn btn-light" (click)="onVote()">Vote
              choice</button>
          </div>
          <br>
          <div class="voteUser" *ngIf="personalVote">Your vote is: {{personalVote.choice.text}}</div>
        </div>
      </div>




      <br>
      <br>
      <br>
      <!-- RETAKEN POLL -->

      <div class="retakeVotes" *ngIf="choicesRetake">

        <h4 class="textRetake"> Due to multiple possibilities for the trip location, you have to RETAKE the poll.
        </h4>
        <br>
        <br>
        <div class="col-md-10 ">
          <table>
            <thead>
              <td></td>
              <td>
                <h5>Vote one of the final choices</h5>
              </td>
            </thead>
            <br>
            <tbody>
              <tr *ngFor="let choice of choicesRetake">
                <td>
                  <input type="radio" name="radiogroup" [value]="choice.id" (change)="onSelectionChangeRetake(choice)">
                </td>
                <td>{{ choice.text }}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-right">
            <button type="button" class="btn btn-light" (click)="onVoteRetake()">Vote
              choice</button>
          </div>
          <br>
          <div class="voteUser" *ngIf="personalVoteRetaken">Your vote is: {{personalVoteRetaken.choice.text}}</div>
        </div>
      </div>



    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="onCancel()">
    Close
  </button>

</div>
