<div class="modal-header ">
  <h4 class="modal-title pull-left">View Details</h4>

  <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container">
    <div [hidden]="">

      <div class="row">
        <div class="col-md-6">

          <label for="groupName">Group name</label>
          <div type="text" class="form-control" id="groupName" name="groupName"> {{selectedTrip.groupTrip.groupName}}
          </div>
          <label for="startDate">Start Date</label>
          <div type="text" class="form-control" id="startDate" name="startDate"> {{selectedTrip.startDate}}</div>
          <label for="endDate">End Date</label>
          <div type="text" class="form-control" id="endDate" name="endDate"> {{selectedTrip.endDate}}</div>
          <label for="location">Location</label>
          <div type="text" class="form-control" id="location" name="location"> {{selectedTrip.location}}</div>

          <div class="members-selection-container">

          </div>

        </div>
        <div class="col-md-6">
          <label for="table">Members</label>
          <table class="table table-bordered table-striped table-sm " id="table">
            <colgroup>
              <col span="1">
            </colgroup>
            <thead>
              <tr role="row">
                <th>Members</th>
              </tr>
            </thead>
            <tbody class="tabelmembers">

              <tr *ngFor="let user of members">
                <td>{{ user.userName}}</td>
              </tr>
              <tr>{{selectedTrip.groupTrip.user.userName }}</tr>

            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="onCancel()">
    Close
  </button>

</div>
